.chinatown{
    position: relative;
    top: 0;
    left: 0;
    width: 800px;  /* Full viewport width */
    height: auto; /* Full viewport height */
    object-fit: cover; /* Ensures video fills screen without distortion */
    z-index: -1;  /* Ensures video is in the background */
    overflow: hidden;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 50px;
}
.topl{
    display: flex;
    justify-content: space-between;
    width: 900px;
}
.l1{
    width: 50px;
    height: 50px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
}
.l2{
    width: 50px;
    height: 50px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    color: rgb(70, 69, 69);
    padding: 10px;

}
.l3{
    width: 50px;
    height: 50px;
    border-bottom: 2px solid white;
    border-left: 2px solid white; 
    padding: 10px;

}
.l4{
    width: 50px;
    height: 50px;
    border-bottom: 2px solid white;
    border-right: 2px solid white;   
    padding: 10px;
  
}
.ct{
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-top: 100px;
  width: 800px;
}
@media only screen and (max-width: 768px){
    .chinatown{
        width: 300px;
        margin-inline: 40px;
    }
    .ct{
        width: 400px;
    }
    .l2 p{ 
        font-size: 12px;
        color: white;
     }
}