.display{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-image: url('./NBHD.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.display2{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-image: url('./mm-min.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.display3{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    background-image: url('./works/local.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(77, 77, 77);
}
.dis{
    height: 100vh;
    position: relative;
    z-index: 2;
}
.disvideo{
height: 95vh;
margin-top: 2.5vh;   
margin: 20px;
}
.disvideo2{
    width: 55vw;
    margin: 20px;
}
.dispara{
    width: 40vw;
    position: relative;
}
.disheading{
    font-size: 64px;
}
.dismarq{
    border-block: 1px solid white;
}
.disarab{
    text-align: right;
    mix-blend-mode: difference;
}
td{
    
}
.disbg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1; /* Sends the background video behind the content */
}
.ctd{
    padding-inline: 100px;
}
table{
    /* border-block:2px solid white ; */
}
td{
    /* border-block:2px solid white ; */
}

@media only screen and (max-width: 768px){
    .display{
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
        }
    .display2{
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
    }
    .display3{
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
        height: 100vh;
    }
    .display3 .dispara{
        width: 100vw;
    }
    .disheading{
        font-size: 3.2rem;
    }
    .dispara{
        width: 80vw;
        padding: 10px;
    }
    .ctd{
        padding-inline: 30px;
    }
    .disvideo2{
        width: 95vw;
        margin-inline: 2.5vw;
    }
    #do{
    }


}
@media (min-width: 768px) and (max-width: 1024px){
    .display{
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
        }
    .display2{
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
    }
    .display3{
        flex-direction: column;
        width: 100vw;
        overflow: hidden;
        height: 100vh;
    }
    .display3 .dispara{
        width: 100vw;
    }
    .disheading{
        font-size: 3.2rem;
    }
    .dispara{
        width: 80vw;
        padding: 10px;
    }
    .ctd{
        padding-inline: 30px;
    }
    .disvideo2{
        width: 95vw;
        margin-inline: 2.5vw;
    }
    #do{
    }


}
