.nav{
    display: flex;
    justify-content: space-between;
    line-height: 4px;
    padding-top: 0px;
    color: rgb(246, 243, 243);
    /* background-color:rgb(255, 255, 255); */
    /* border-bottom: 1px solid rgb(149, 149, 149); */
    font-family: 'hack';  
}
#smDs{
    font-size: 12px;
    color: rgb(20, 19, 19);
}
.heromain{
    width: 100vw;
    color: rgb(244, 242, 241);  
    overflow: hidden;
    /* margin-inline: 5vw; */
}
/* .n1{
    height: 80px;
    width: 300px;
    margin-top: 5px;
    border: 1px solid black;
    padding-right: 30px;
    padding-left: 10px;
} */
.heroname{
    font-size: 160px;
    text-align: center;
    font-family: 'lemon';
    color: rgb(253, 249, 245);
    margin-top: -10px;
    transform: translateY(405px);
    transition: transform 2s;
}
.heroletter{
    transform: translateY(405px);
    transition: transform 2s;   
}
.heronameC{
    overflow: hidden;
    height: 200px;
}
.herofootnote{
    text-align: center;
    margin-top: -0px;
}
.frame{
    border: 1px solid white;
    width: 200px;
    height: 100px;
    justify-content: center;
    display: flex;
}
.up2{
    display: flex;
    justify-content: space-between;
    margin-inline: 30px;
    color: gray;
}
.herocont{
    /* background-color: white; */
    background-image: url('./coverbg.JPG');  
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.thmhero{
    height: 400px;
    transform: translateY(405px);
    transition: transform 2s;
    line-height: 5.9rem;
}
.thmheroC{
    overflow: hidden;
    align-self: center;
    margin-top: -40px;
}
.herobody{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(9, 9, 9); */

}
.aboutme{
    font-size: 34px;
    margin-inline: 10vw;
    font-family: 'light';
    /* text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5); /* Apply shadow */} */
.intronav{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    top: 0;
    margin-top: 20px;
    position: sticky;
    mix-blend-mode: difference;
  }

  @media only screen and (max-width: 768px){
    .nav{
        display: none;
    }
    .up2{
        /* display: none; */
        margin: 0;
        mix-blend-mode: difference;
    }
    .heroname{
        font-size: 2.5em;
    }
    .herofootnote{
        margin-top: -130px;
        font-size: 0.9em;
    }
    .heromain{
        /* padding-top: 150px; */
    }
    .thmheroC{
        overflow: scroll;
        margin-top: 20%;
    }
    .aboutme{
        font-size: 1.3em;
    }
    .aboutme img{
        height: 100px;
    }
  }

  @media (min-width: 768px) and (max-width: 1024px){
    .herobody{
        margin-top: 180px;
    }
    .heroname{
        font-size: 5rem;
    }
    .herofootnote{
        margin-top: -100px;
        font-size: 1em;
    }
  }