/* Full-screen video loader */
.video-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(12, 12, 12);
    z-index: 9999;
    overflow: hidden;
    transition: all 1s ease; /* Smooth transition */
  }
  
  .video-loader video {
    height: 300px;
  }
  
  /* Fade-up animation */
  .fade-up {
    animation: fadeUp 1s forwards;
  }
  
  @keyframes fadeUp {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0.7;
      transform: translateY(-100vh); /* Move upwards */
    }
  }
  
  .loadtext{
    color: rgb(247, 242, 242);
    font-family: 'light';
  }