.workmain{
display: flex;
justify-content: space-between;
}
.worksub{
    margin-top: 100px;
    border-bottom: 1px solid white;
}
#worklist{
    list-style-type: none;
}
.worklidiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 0.5px solid white;
    /* border-bottom: 0.5px solid white; */
    width: 700px;
    color: rgb(137, 136, 136);
}
.worklidiv:hover{
    color: white;
    font-size: 18px;
    transition: 0.3s;
    cursor: pointer;
}
.worklidiv p{
    padding-right: 50px;
    padding-block: 5px;
}
.image-display{
    margin: 20px;
    right: 20px;
}
.image-display img {
    width: 400px;
    height: auto;
    object-fit: cover;
    transition: opacity 0.5s ease;
    padding-top: 400px;
    margin: 20px;

}
.workcover{
    max-height: 600px;
}
@media only screen and (max-width: 768px){
    .workcover{
        display: none;
    }
    .workmain{
        justify-content: center;
        display: flex;
        /* background-color: bisque; */
        /* height: 80vh; */
        margin-top: 200px;
    }
    .worksub{

    }
    .worklidiv{
        width: 400px;
    }
    .works{
        height: 100vh;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .workcover{
        display: none;
    }
    .workmain{
        /* background-color: bisque; */
        /* height: 80vh; */
    }
    .worksub{font-size: 24px
    }
    .worklidiv{
        width: 500px;
    }
    .works{
    }
}