body{
  color: rgb(244, 244, 243);
  background-color: rgb(15, 13, 13);
  margin: 0;
  font-family: 'sohne';
  width: 100vw;
  box-sizing: border-box;
  /* background-image: url('./coverbg.JPG');  
  background-repeat: no-repeat;
  background-size: cover; */
  /* cursor: none; */
}
.texting{
  background-color: rgb(7, 7, 7);
  height: 100vh;
  color: antiquewhite;
}
body::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}
.space{
  height: 25vh;
  width: 100vw;
  background-color: rgb(6, 6, 6);
}
.cursor{
  height: 1px;
  width: 1px;
  font-size: 24px;
  border: 2px solid red;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 10;
}


/* Target all devices with max-width 768px (mobile phones, small tablets) */
@media only screen and (max-width: 768px) {
  /* Apply styles to all elements to prevent overflow */
  * {
    box-sizing: border-box; /* Ensures padding and borders are included in width and height */
    margin: 0; /* Removes default margins */
    padding: 0; /* Removes default padding */
    max-width: 100vw; /* Limits element width to viewport width */
    /* overflow-x: hidden;  */
    /* Prevents horizontal scrolling */
  }

  /* Additional settings for the body and HTML to fit mobile screens */
  html, body {
    width: 100%;
    height: 100%;
    /* overflow-x: hidden; */
     /* Prevent horizontal scrolling on the body */
    margin: 0; /* Remove body margin */
    padding: 0; /* Remove body padding */
  }
  #workmobhd{
    font-size: 2rem;
    margin-left: 10px;
    display: inline-block;
    position: relative;
    text-decoration: none;
  }
  #workmobhd::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px; /* Adjusts the underline position */
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition: width 0.4s ease;
  }
  #workmobhd:hover::after {
    width: 0%; /* Expands the underline width on hover */
  }
  .cursor{
    display: none;
  }
}
